<div style="position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;">

  <div style="background-color: #ca2128; height: 56px; width: 100%;">
    <div style="height: 100%; margin: 0 20px; display: flex;">
      <img *ngIf="true" style="width: 130px;" src="https://cdn.insideiim.com/assets/img/logo.svg">
    </div>
  </div>

</div>


<div style="margin: 0 5em; margin-top: 56px;">

  <div style="padding-top: 50px;">
    <div>
      <label>Hi, This is kiran shinde.</label>
    </div>
  </div>
  <hr>
    
  <div>
    <div>
      <h1>Register User</h1>
    </div>
  </div>

  <div class="comb">
    <app-form (resetEdited_OMth)="flagReset($event)"
      [flag]="editedOperation_Fl" ></app-form>
      

      <app-table   
      (editedUser_o)="editedOperation_Mth($event)">
    </app-table>
  </div>


</div>